td {
	padding: 3px;
	vertical-align: middle!important;
	text-align: center!important;
}
tr:hover td {background:#FA8072}
.lamp {
	position: absolute;
	border-color: yellow!important;
    border-width: 3px;
}
.sprinkler {
	position: absolute;
	width: 100%;
	height: 100%;
}
.lamp_button {
	width: 360px;
}
.scroll {
	overflow: scroll;
}
.tcbutton {
  font-size: 1rem;
  border: 0;
  padding: 5px 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.tcon {
  content: "hi";
  color: rgba(0, 0, 0, 1);
  background-color: rgba(0, 220, 0, 1);
}
.tcon:hover {
  background-color: rgba(0, 255, 0, 1);
}
.tcoff {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(220, 0, 0, 1);
}
.tcoff:hover {
  background-color: rgba(255, 0, 0, 1);
}
.temp {
  width: 50px;

}
.planfloor0 {
	position: relative;
	background: url('../img/floor0.jpg') no-repeat;
	height: 650px;
}
.planfloor1 {
	position: relative;
	background: url('../img/floor1.jpg') no-repeat;
	height: 650px;
}
.planfloor2 {
	position: relative;
	background: url('../img/floor2.jpg') no-repeat;
	height: 650px;
/*	left: 300px;*/
/*	background-size: cover; */
}
.land {
	position: relative;
	background: url('../img/land.jpg') no-repeat;
	height: 758px;
	width: 960px;
	/*	height: 632px;
	width: 800px;
/*	height: 1264px;
	width: 1600px;
/*	background-size: contain;
	font-size: 10rem;
/*	left: 300px;*/
	background-size: cover;
}
.room {
	position: absolute;
	text-align: center;
	padding-top: 5px;
}
.on {
	background: #FA8072; /* Красный цвет = Нагрев ВКЛючен */
}
.off {
	background: #00BFFF; /* Синий цвет = нагрев ВЫКЛючен */
}

canvas {
	display: block;
	margin: 0 auto;
	clear: right;
}

#garagecam1 {
	width: 100%;
}
.tabs {
	font-size: 1.5rem;
}