<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Отопление Дом 2 этаж</title>
	<link rel="stylesheet" type="text/css" href="/css/fontawesome-all.css">
	<link rel="stylesheet" type="text/css" href="/css/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bulmaswatch.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<div id="app">
		<div v-if="error" class="notification is-danger">
			<button class="delete" @click="error=''"></button>
			{{ error }}
		</div>

		<tabs>
			<tab name="Свет" icon="far fa-lightbulb" :selected="true">
				<div class="scroll">
					<div class="land">
						<div v-for="lamp in lamps" class="button is-rounded is-large lamp" :class="lamp.state == 1 ? 'is-dark' : 'is-warning'" @click="lampStateChange(lamp.id)"
						:style="'left:'+lamp.x+'px;top:'+lamp.y+'px;'">
							<span class="icon"><i class="far fa-lightbulb"></i></span>
						</div>
					</div>
				</div>

				<section class="section" style="max-width: 960px;">
					<div class="container">
						<div class="columns is-multiline">
							<div class="column is-half has-text-centered">
								<button class="button is-large lamp_button is-dark" @click="allLampsStateChange(1)">
									<span class="icon is-small"><i class="far fa-lightbulb"></i></span>&nbsp; Выключить везде Свет
								</button>
							</div>
							<div class="column is-half has-text-centered">
								<button class="button is-large lamp_button is-warning" @click="allLampsStateChange(0)">
									<span class="icon is-small"><i class="far fa-lightbulb"></i></span>&nbsp;Включить везде Свет
								</button>
							</div>
						</div>

						<hr style="background-color: #ffb12d">

						<div class="columns is-multiline has-text-centered">			
							<div v-for="lamp in lamps" class="column is-half">
								<button class="button is-large lamp_button" :class="lamp.state == 1 ? 'is-dark' : 'is-warning'" @click="lampStateChange(lamp.id)">
									<span class="icon is-small"><i class="far fa-lightbulb"></i></span>&nbsp;{{ lamp.title }}
								</button>
							</div>						
						</div>
					</div>
				</section>
			</tab>

			<tab name="Полив" icon="fas fa-tint">
				<div class="scroll">
					<div class="land">
						<div v-for="sprinkler in sprinklers" class="sprinkler" :style="'clip-path: polygon('+sprinkler.clip_path+');background-color:' + (sprinkler.state ? sprinklerOnColor : sprinkler.color)" @click="sprinklerStateChange(sprinkler.id)">
						</div>
					</div>
				</div>

				<table>
					<tr v-if="polivNowTimetableID != -1">
						<td>Управление</td>
						<td :colspan="sprinklersTimeTable.length">
							<button class="button is-danger is-fullwidth is-large" @click="stopPoliv()">Остановить полив</button>
						</td>
					</tr>
					<tr v-else>
						<td>Управление</td>
						<td v-for="(timetable, i) in sprinklersTimeTable">
							<button class="button is-large is-warning is-fullwidth" @click="startPoliv(i)">Включить</button>
						</td>
					</tr>
					<tr>
						<td>Расписание</td>
						<td v-for="(timetable, i) in sprinklersTimeTable">
							<input class="input" type="text" v-model=sprinklersTimeTable[i].title>
						</td>
					</tr>
					<tr>
						<td>Время запуска</td>
						<td v-for="(timetable, i) in sprinklersTimeTable"><input class="input" type="time" v-model="sprinklersTimeTable[i].timeStart"></td>
					</tr>
					<tr>
						<td>Ед. измерения</td>
						<td v-for="(timetable, i) in sprinklersTimeTable">
							<button class="button is-fullwidth" class="is-warning" @click="sprinklersTimeTable[i].units = 61 - sprinklersTimeTable[i].units">{{ timetable.units == 60 ? 'Мин' : 'Сек' }}</button>
						</td>
					</tr>
					<tr v-for="(sprinkler, i) in sprinklers">
						<td><button class="button is-fullwidth" :class="sprinkler.state ? 'is-link' : ''" @click="sprinklerStateChange(sprinkler.id)">Контур {{ i }}</button></td>
						<td v-for="(timetable, j) in sprinklersTimeTable"><input class="input" type="number" v-model.number="sprinklersTimeTable[j].durations[i]"></td>
					</tr>
					<tr>
						<td>Редактирование</td>
						<td v-for="(timetable, i) in sprinklersTimeTable">
							<button class="button is-danger is-fullwidth" @click="removePolivTimetableColumn(i)">- Удалить</button>
						</td>
						<td>
							<button class="button is-success is-fullwidth" @click="addPolivTimetableColumn()">+ Добавить</button>
						</td>
					</tr>
					<tr>
						<td></td>
						<td :colspan="sprinklersTimeTable.length">
							<button class="button is-success is-fullwidth is-large" @click="savePolivTimetable()">Сохранить</button>
						</td>
					</tr>
				</table>
			</tab>

			<tab v-for="(floorTitle, floorID) in floorTitles" :name="floorTitle" icon="fas fa-temperature-high" :key="'floor'+floorID">
				<h1>Отопление Дом {{floorTitle}}</h1>
				
				<div :class="'planfloor'+floorID">

					<div v-for="room in heats.filter(heat => heat.floor == floorID)" :id="'room'+room.id" class="room" :class="room.state ? 'off' : 'on'"
						:style="'left:'+room.main[0]+'px; top:'+room.main[1]+'px; width:'+room.main[2]+'px; height:'+room.main[3]+'px;'"
						@click="heatStateChange(room.id, $event)">
						{{ room.id }} <b>{{ room.title }}</b>

						<span v-if="sensors.length && sensors.hasOwnProperty(room.id) && sensors[room.id].temp > 0">
							<i class="fa fa-thermometer-full fa-6"></i>
							<b>{{ sensors[room.id].temp }}</b> ℃<br />
							RH = <b>{{ sensors[room.id].humid }}</b> %<br />
							p = <b>{{ sensors[room.id].pressure }}</b> мм.рт.ст<br />
							{{ sensors[room.id].datetime }}<br />

							<input type="button" class="tcbutton" :class="room.thermal_control_on ? 'tcon' : 'tcoff'"
								value="Термоконтроль"
								@click="heatTermalControlStateChange(room.id)"><br />
							<div v-if="room.thermal_control_on">
								<input :id="'tc_from'+room.id" type="number" min="0" step="0.1" maxlength="4" class="temp"
									v-model.number="heats[room.id].thermal_control_value" @input="heatTermalControlValueChange(room.id)">
								℃
							</div>
						</span>
						<span v-if="room.second" class="room" :class="room.state ? 'off' : 'on'"
							:style="'left:'+room.second[0]+'px; top:'+room.second[1]+'px; width:'+room.second[2]+'px; height:'+room.second[3]+'px;'"></span>
					</div>
				</div>
				
			</tab>

	</tabs>

	</div>
	<script src="/js/vue.js"></script>
	<script src="/js/jquery-3.3.1.js"></script>
	<script src="/js/jquery-ui.min.js"></script>
	<!--
	<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">
	-->
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/app.js"></script>
</body>

</html>
